@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");
$base-color: rgb(2, 87, 122);
$secondary-color: rgb(137, 214, 251);
$background-color: #ffffff;
$font-white: rgb(255, 255, 255);
$font-black: rgb(0, 0, 0);
body {
  background-color: $background-color;
  margin: 0;
  height: 100vh;
  width: auto;
}
li {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
a {
  text-decoration: none;
  margin: 0%;
}

.header {
  display: grid;
  grid-template-columns: 12.5em 4fr 1fr;
  grid-template-rows: 1fr 0.25fr;
  .header-child-1 {
    background: $base-color;

    .logo {
      float: left;
      margin: 0.75em 2em;
      // for tablet size margin-left: 0.9em;
      margin-top: 1.4em;
    }
  }
  .header-child-2 {
    background: $base-color;
    .header-content {
      color: $font-white;
    }
    ul {
      display: flex;
      justify-content: space-around;
      font-size: 1.33em;
      padding-right: 5em;
      line-height: 1.7em;
    }
  }
  .header-child-3 {
    background: $base-color;
    button {
      position: relative;
      top: 0.2em;
      right: 2em;
      height: 2em;
      width: 16em;
      border-radius: 0.8em;
      font-size: 1.1em;
      background: $font-white;
      border: none;
      padding: 1em;
      line-height: 0em;
      :hover {
        color: $font-white;
      }
      span {
        position: relative;
        bottom: 0.9em;
        color: $base-color;
      }
      .btn-mail {
        position: relative;
        bottom: 0.6em;
        right: 0.3em;
      }
    }
  }
}
.outside-parent-header {
  background: $secondary-color;
  grid-column: 1 / span 3;
  height: 0.3em;
}
//introduction page
.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
  height: fit-content;

  .introduction-child-1 {
    background: $background-color;
    justify-items: space-around;
    h1 {
      text-align: center;
    }
    #waving {
      height: 200vh;
    }
    #type-animation {
      color: $font-black;
      text-decoration: underline;
    }
    //itype plugin
    .ityped-cursor {
      color: $font-black;
      font-size: 2.2rem;
      opacity: 1;
      animation: blink 0.3s infinite;
      animation-direction: alternate;
    }

    @keyframes blink {
      100% {
        opacity: 0;
      }
    }
    //
    .waving {
      display: block;
      margin: auto;
    }

    #Waving-hand {
      animation: waving-motion 2s ease-in-out infinite alternate;
      transform-origin: center;
      transform-box: fill-box;
    }
    #Head {
      animation: waving-head 3s ease-in-out infinite alternate;
      transform-origin: center;
      transform-box: fill-box;
    }

    @keyframes waving-motion {
      100% {
        transform: rotatez(-18deg);
      }
    }
    @keyframes waving-head {
      50% {
        transform: rotatez(11deg);
      }

      100% {
        transform: rotatez(-11deg);
      }
    }
  }
  .introduction-child-2 {
    background: $background-color;
    h2,
    p {
      color: $font-black;
    }
    h2 {
      font-size: 3.2em;
    }
    p {
      font-size: 1.3em;
    }
  }
  .downArrow {
    width: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 90%;
    left: 25%;
    animation: bounce 3s infinite;
    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-0.4em);
      }
      60% {
        transform: translateY(-0.4em);
      }
    }
  }
}
//services heading
.service-head {
  text-align: center;
  margin-top: 5em;
  color: $base-color;
  font-size: 1.5em;
}
//services page

.services-page {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  height: 95%;
  // .services-page-child-1 {
  // }
  .services-page-child-2 {
    p {
      color: black;
      font-size: 1.4em;
    }
    ul {
      margin-bottom: 3em;
    }
  }
  // .services-page-child-3 {
  // }
}

.Testimonials {
  .Testimonial-heading-container {
    background-color: $secondary-color;
    height: 4em;
    h1 {
      display: block;
      color: $base-color;
      text-align: center;
      font-size: 2.1em;
      line-height: 1.9;
      padding: 0;
      margin: 0;
    }
  }

  .Testimonial-child-1 {
    position: relative;

    .arrow {
      position: absolute;
    }

    #arrow1 {
      width: 0;
      height: 0;
      background-color: $base-color;
      border-top: 25px solid transparent;
      border-right: 50px solid $secondary-color;
      border-bottom: 25px solid transparent;
      border-left: $background-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2%;
      border-radius: 10%;
      cursor: pointer;
      z-index: 1;
    }
    .quote-1 {
      position: absolute;
      left: 3%;
      font-size: 3.5em;
      z-index: 1;
    }

    .grid-2 {
      overflow: hidden;
      .slide-row {
        padding: 20px;
        height: 400px;
        overflow: none;
        position: relative;
        transition: transform ease-in 1s;
        .slide-column {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          padding: 0 auto;
          height: 400px;
          margin: 0 auto;
          background: $base-color;
          width: 100%;
          .text {
            text-align: left;
            font-size: 1.5em;
            position: relative;
            left: 2%;
            padding: 0 4em;
            .text-paragraph {
              margin-top: 0px;
            }
            .text-name {
              font-size: 1.5;
              text-align: center;
            }
          }
          .images {
            height: 100px;
            width: 100px;
            display: block;
            margin: 0 auto 0 auto;
            border-radius: 70%;
            object-fit: cover;
          }
          .rating-stars {
            margin-top: 2em;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    #arrow2 {
      position: absolute;
      width: 0;
      height: 0;
      background-color: $base-color;
      border-top: 25px solid transparent;
      border-left: 50px solid $secondary-color;
      border-bottom: 25px solid transparent;
      border-right: $background-color;
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      border-radius: 10%;
      cursor: pointer;
    }
    .quote-2 {
      position: absolute;
      right: 2%;
      top: 20%;
      font-size: 3.5em;
    }
  }
  .Testimonial-child-2 {
    background: black;
  }
}
//faq-section
.faq-container {
  height: 60vh;
  color: black;
  text-align: center;
  .list-container {
    height: auto;
    margin: 0 auto;
    width: 80%;
    .faqs-header {
      color: $base-color;
      font-size: 2.5em;
      text-align: center;
      color: $base-color;
    }
    ul {
      margin: auto;
      padding: 0;
      text-align: left;
      background: $base-color;
      // font-size: ;
      li {
        color: $font-white;
        display: flex;
        flex-direction: row;
        border-color: white;
        button {
          margin-left: auto;
          margin-right: 1em;
          height: 1.8em;
          width: 0;
          height: 0;
          background-color: transparent;
          border-top: 13px solid transparent;
          border-right: 24px solid $font-white;
          border-bottom: 13px solid transparent;
          border-left: transparent;
        }
        .show-more {
          display: block;
          transition: 500ms;
        }
        .rotate-btn {
          rotate: -90deg;
          transition: 500ms;
        }
        p {
          padding-left: 2em;
        }
      }
      li:first-child {
        padding-top: 0.8em;
      }

      .faq-text {
        color: $font-black;
        page-break-after: always;
        display: none;
        border-style: solid;
        border-color: $secondary-color;
        background: $background-color;
        padding: 0.5em 3em;
      }
    }
  }
}
