<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div>
    <form id="form-login" class="login-form" action="/api/v1/login" method="POST">
        <p>Email</p>
        <label for="email"></label><input type="text" name="email" id="email" />
        <p>Password</p>
        <label for="password"></label>
        <input type="text" name="password" id="password" />
        <button type="submit" id="submit-login">Submit</button>
    <h4 id="alert-message"></h4>
    </form>
    </body>
   </div>

  </body>
</html>
